# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Gradle
.gradle/
build/

# Spring Boot
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Secrets
application-secret.yml
application-secret.yaml
application-prod.yml
application-prod.yaml
*.env
.env

# Compiled
out/
target/
gradle.properties
generated/